.preview-container {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 35px;
	bottom: 0px;

	margin: 0px;
}

#pdf-preview-container {
	display: none;
	padding-top: 20px;
}

#pdf-preview-container canvas {
	display: block;
	width: 100%;

	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;

	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}