[submodule "web/assets/libs/codemirror"]
	path = web/assets/libs/codemirror
	url = https://github.com/codemirror/codemirror
[submodule "web/assets/libs/jquery"]
	path = web/assets/libs/jquery
	url = https://github.com/jquery/jquery
[submodule "web/assets/libs/pdf.js"]
	path = web/assets/libs/pdf.js
	url = https://github.com/mozilla/pdf.js
[submodule "web/assets/libs/Semantic-UI"]
	path = web/assets/libs/Semantic-UI
	url = https://github.com/Semantic-Org/Semantic-UI
